<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Wishlister</title>
  <!-- Bootstrap core CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
    <!-- Custom styles for this template -->
    <link href="bootstrap/css/album.css" rel="stylesheet"></link>
</head>
<body>
<header>
      <div class="collapse bg-dark" id="navbarHeader" style="text-align:right;">
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span>
             <img th:src="${user.uriPhotoUser}" style="width: 50px;"/>            
          </button>
        </div>
      </div>
    </header>
    <main role="main">
    <div class="album py-5 bg-light">
         <h1 class="jumbotron-heading" style="margin:20px;">Wishlist</h1>            
        <div class="container" >
					<div class="row" >
						<div class="col-md-4"  th:each="recent : ${wishlist}">
							<div class="card mb-4 box-shadow">
							<img th:src="${recent.venue.photo}"></img>
								<div class="card-body">
									<p class="card-text"> <span th:text="${recent.venue.name}"></span></p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
										<form action="#" th:action="@{remove/{id}(id=${recent.id})}"  th:object="${recent}"  >
				     					 <button type="submit" name="remove" class="btn btn-sm btn-outline-secondary" >Remove</button>
										</form>
										</div>
										<small class="text-muted"><img th:src="${recent.user.uriPhotoUser}"></img></small>
									</div>
								</div>
							</div>
						</div>
					</div>
		</div>
         </div>
    <div class="album py-5 bg-light">
         <h1 class="jumbotron-heading" style="margin:20px;">Recent</h1>         
        <div class="container">
					<div class="row"  >
						<div class="col-md-4" th:each="recent : ${recents}">
							<div class="card mb-4 box-shadow">
							<img th:src="${recent.venue.photo}"></img>
								<div class="card-body">
										<p class="card-text"> <span th:text="${recent.venue.name}"></span></p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
										<form action="#" th:action="@{add/{id}(id=${recent.id})}"  th:object="${recent}"  >
				     					 <button type="submit" name="add" class="btn btn-sm btn-outline-secondary" >Add</button>
										</form>
										</div>
										<small class="text-muted"><img th:src="${recent.user.uriPhotoUser}"></img></small>
									</div>
								</div>
							</div>
						</div>
					</div>
		</div>
         </div>
    </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <!-- <script type="text/javascript">window.jQuery || document.write('<script src="bootstrap/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>  -->
    <script src="bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bootstrap/assets/js/vendor/holder.min.js"></script>
</body>
</html>